body {
    background-color: rgb(18, 112, 18);
    color: white;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: margin 1s;
}

header {
    background-color: rgb(34, 180, 34);
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

img {
    width: 10vmin;
}

.selected {
    margin: 0px 0px 75px 0px;
}

.playingCard:hover {
    cursor: pointer;
}

#cardString {
    display: none;
}

input[type="checkbox"] {
    display: none;
}