{% extends "base.jinja" %}
{% block content %}

    <h2> Blackjack #{{game_instance}}</h2>

    <div id='display_blackjack'>
    {% for i in enumerated_hand %} 
        <img class='hiddenCard' src="{{url_for('static', filename = 'cardbackblack.png')}}">
    {% endfor %}
    </div>

    <form action="/play_game_blackjack" method="POST">
        <div class="betControls">
            <input class='betInput' type='number' name='bet_value' value='{{ session['bet_amount'] }} min='1' placeholder='Δ'>
            <input class='betButton' type='submit' name='bet_buttom' value='Place Bet'>
        </div>
    </form>
    {% if game_case %}
    <p> You've won on a {{game_case}}, your payout is {{payout}}
    {% endif %}
{% endblock content %}