{% extends "base.jinja" %}
{% block content %}
<button id='fiveCardPokerButton'> Five Card Poker </button>
<button id='blackjackButton '> Blackjack </button>
<script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock content %}
