{% extends "base.jinja" %}
{% block content %}
        <form action="/login_action" method="POST">
        <label for="username">email:</label>
        <input type="text" name="username">
        <label for="password">password</label>
        <input type="password" name="password">
        <input type="submit" value="login"> <br>
        {% if fields_empty %} NO EMPTY FIELDS! {% endif %}
        {% if wrong_details %} WRONG DETAILS! {% endif %}
        </form>
{% endblock content %}