{% extends "base.jinja" %}
{% block content %}
<h2> Blackjack #{{game_instance}} <h2>

    <h3> Dealer's Hand (Stands on 17+): </h3>
    <div id='dealerDisplay'> 
        {% if game_over %}
            {% for i, card_str in dealer_hand %} 
                <img class="playingCard" id='dealerImg{{i}}' src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png">
            {% endfor %}
        {% else %}
            {% for i, card_str in dealer_hand %}
                {% if i == 0 %}
                    <img class="playingCard" id='dealerImg{{i}}' src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png">
                {% else %}
                    <img class='hiddenCard' src="{{url_for('static', filename = 'cardbackblack.png')}}">
                {% endif %} 
            {% endfor %}
        {% endif %}
    </div>

    <h3> Player's Hand: </h3>
    <div id='display' class='blackjackPadding'>
    {% for i, card_str in enumerated_hand %} 
        <p id='cardString'> {{card_str}} <input id='checkbox{{i}}' type="checkbox" name={{i}} ></p>
        <img id='img{{i}}' class="playingCard" src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png">
    {% endfor %}
    </div>

    <div id='betBar'> Bet:  Δ {{bet_amount}} </div>
    {% if not game_over %}
        {% if not no_hits %}
        <form action="/blackjack_hit" method="POST">
            <input class='blackjackControls' type='submit' value='HIT'>
        </form>
        {% endif %}
        <form action="/blackjack_stay" method="POST">
            <input class='blackjackControls' type='submit' value='STAY / DEALER PLAYS'>
        </form>
    {% else %}
        <form action="/bet_game_blackjack" method="GET">
            <input class='blackjackControls' type='submit' value='PLAY AGAIN'>
        </form>
        <p class='resultMessage'> It's {{game.winner}}. Your payout is {{game.payout_amount}}. Play again! </p>
    {% endif %}
{% endblock content %}