{% extends "base.jinja" %}
{% block content %}
<h1> Five Card Poker #{{game_instance}} <h2>

    <form action="/game_redraw" method='POST' >
        <div id='display'>
        {% for i, card_str in enumerated_hand %} 
            <p id='cardString'> {{card_str}} <input id='checkbox{{i}}' type="checkbox" name={{i}} ></p>
            <img id='img{{i}}' class="playingCard" src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png">
        {% endfor %}
        </div>
        <h2> BET: {{bet_amount}} </h2>
        <input type='submit' value='REDRAW'>
    </form>

    
    <form action="/game_sort" method='POST'>
        <input type='submit' value='SORT'>
    </form>
    <form action="/checkwin" method="POST">
        <input type='submit' value='CHECKWIN'>
    </form>
    <form action="/bet_game" method="GET">
        <input type='submit' value='PLAY AGAIN'>
    </form>
    {% if game_case %}
    <p> You've won on a {{game_case}}, your payout is {{payout}}
    {% endif %}
    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock content %}