{% extends "base.jinja" %}
{% block content %}
<h2> Five Card Poker #{{game_instance}} <h2>

    <form action="/game_redraw" method='POST' >
        <div id='display_poker'>
        {% for i, card_str in enumerated_hand %} 
            <p id='cardString'> {{card_str}} <input id='checkbox{{i}}' type="checkbox" name={{i}} ></p>
            <img id='img{{i}}' class="playingCard" src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png">
        {% endfor %}
        </div>
        <div id='betBar'> Bet:  Δ {{bet_amount}} </h2>
        {% if not game_case %}
        <input class='pokerControl' type='submit' value='REDRAW / PLAY HAND'>
        {% endif %}
    </form>

    {% if not game_case %}
    <form id='redrawForm' action="/game_sort" method='POST'>
        <input class='pokerControl' type='submit' value='SORT'>
    </form>
    {% else %}
    <form action="/bet_game" method="GET">
        <input class='pokerControl' type='submit' value='PLAY AGAIN'>
    </form>
    <p class='resultMessage'> It's a {{" ".join(game_case.split('_'))}}, your payout is Δ {{payout}}. Nice! </p>
    {% endif %}

    <table>
    <tr>
        <th>Hand</th>
        <th>Prize</th>
    </tr>
    {% for string,payout in prize_items %}
    <tr>
        <td>{{string}}</td>
        <td>{{payout}}</td>
    </tr>
    {% endfor %}
    </table>


    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock content %}