{% extends "base.jinja" %}
{% block content %}
    <h2> Five Card Draw </h2>
    <h4> &lt; GameID: {{game_instance}} &gt; </h4>
    <h5> Instructions: Click on cards and redraw to get a winning hand! </h5>
    

    <form action="/game_redraw" method='POST' >
        <div id='display_poker'>
        {% for i, card_str in enumerated_hand %} 
            <p id='cardString'> {{card_str}} <input id='checkbox{{i}}' type="checkbox" name={{i}} ></p>
            <img id='img{{i}}' class="playingCard" src="https://deckofcardsapi.com/static/img/{{card_str[-2:]}}.png" alt='{{card_str}}'>
        {% endfor %}
        </div>
        <div id='betBar'> Bet:  $ {{bet_amount}} </div>
        {% if not game_case %}
        <input class='pokerControl' type='submit' value='REDRAW / PLAY HAND'>
        {% endif %}
    </form>

    {% if not game_case %}
    <form id='redrawForm' action="/game_sort" method='POST'>
        <input class='pokerControl' type='submit' value='SORT'>
    </form>
    {% else %}
    <form action="/bet_game" method="GET">
        <input class='pokerControl' type='submit' value='PLAY AGAIN'>
    </form>
    <p class='resultMessage'> It's a {{" ".join(game_case.split('_'))}} combination, your payout is $ {{payout}}. Nice! </p>
    {% endif %}

    <table>
        <tr>
            <th>Hand</th>
            <th>Prize</th>
        </tr>
        {% for string,payout in prize_items %}
        <tr>
            <td>{{string}}</td>
            <td>{{payout}}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock content %}